body {  
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}


h1{
  font-family:sans-serif;
  font-size:75px;
}

h2{
  font-family:sans-serif;

}

  #playpanel{

  
        width: 800px;
        height: 600px;
        background-color: #ffd84c;
        border-style: solid;
        border-color: #fcbb39;
        text-align: center;
        margin:auto;

}
 
button{
  background-color: #f8363f;
  border-style: solid;
  border-color: #f7a535;
  width:150px;
  height:50px;
  vertical-align: middle;

  }
